* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

input {
  border: 2px solid #000;
  border-radius: 15px;
  padding: 9px 5px;
}

.logOut > a {
  text-decoration: none;
  color: white;
  background-color: blue;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
}

body,
html {
  background: lightblue
    url(../img/book-shelf-with-many-books-it-including-box-bottom_1064589-163055.avif);
}

header {
  width: 100%;
  padding: 10px 0;
  text-align: center;

  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);

  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
}

.header > h1 {
  font-size: 32px;
  color: rgb(17, 0, 0);
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;

  display: flex;
  padding: 40px 20px 20px 20px;

  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
}

.hero {
  justify-content: space-between;
  align-items: center;

  background-color: white;
  max-height: 97px;
}

.books {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
}

.books > .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.books > .addCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;

  padding: 20px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.addCard > p {
  color: red;
  opacity: 0%;
}

.books > .card > .btns {
  display: flex;
  gap: 15px;
}

.books > .card > .btns > button {
  border: none;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
}

.books > .card > .btns > button:first-child {
  background-color: #0101b2;
  padding: 8px 20px;

  color: white;
}

.books > .card > .btns > button:last-child {
  background-color: brown;
  padding: 8px 15px;

  color: blanchedalmond;
}

.books > .card > h2 {
  font-family: "Oswald";
  font-size: 28px;
  font-weight: 600;
  line-height: 36px;
}

.books > .card > p:nth-child(4) {
  font-size: 10px;
}

.hidden {
  display: none;
}

.search {
  display: flex;
  gap: 20px;
}

#isAuthor {
  display: none;
  color: red;
}

#isTitle {
  display: none;
  color: red;
}
#isYear {
  display: none;
  color: red;
}

#addBook {
  color: white;
  padding: 10px 20px;
  background-color: #0101b2;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

button:hover {
  opacity: 70%;
}

input:focus {
  outline: none;
}