* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body,
html {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100dvh;
  background-image: url(../img/book-shelf-with-many-books-it-including-box-bottom_1064589-163055.avif);
}

button {
  cursor: pointer;
  border: none;
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  border: none;
  padding: 8px;
  border-radius: 10px;
  width: 200px;
  background-color: rgb(251, 242, 225);
  outline: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 200px;

  margin: auto;
  min-width: 768px;
  max-width: 100%;
  min-height: 453px;
  background-color: white;
  border-radius: 40px;

  position: relative;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  min-width: 38%;
  padding: 40px;
}

.signWith {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}

.signWith > li > a > img {
  background-color: white;
  padding: 7px;
  border-radius: 50%;
}

h2 {
  font-size: 36px;
  color: black;
}

p {
  font-size: 14px;
  color: grey;
}

#signInForm, #signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 11px;
}



#signInForm > a {
  color: grey;
  font-size: 14px;
}

#signInForm > button {
  padding: 15px 40px;
  border-radius: 15px;
  background-color: #2da0a8;
  color: white;
}

#emailIn {
  margin-top: 5px;
}

#welcomeContainer {
  max-width: 62%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;

  padding: 40px 60px;
  width: 100%;
  background-color: #82e3ea;
  min-height: 453px;

  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;

  position: absolute;
  right: 0px;
}

#welcomeContainer > p {
  text-align: center;
  color: black;
}

#welcomeContainer > button {
  padding: 15px 32px;
  border-radius: 15px;
  color: white;
  background-color: tomato;
}

.right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  min-width: 38%;
  padding: 40px;
  max-height: 453px;
}

#signInForm > button, #signUpForm > button {
  text-align: center;
  padding: 15px 40px;
  border-radius: 15px;
  background-color: #2da0a8;
  color: white;
}

#signInForm > p {
  color: red;
  display: none;
}

.isName {
  color: red;
  display: none;
}

.isEmail {
  color: red;
  display: none;
}

.isPass {
  color: red;
  display: none;
}

@keyframes slide-left {
  from {
    right: 0;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
  }
  to {
    right: calc(100% - 62%);
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
  }
}

@keyframes slide-right {
  from {
    right: calc(100% - 62%);
  }
  to {
    right: 0;
  }
}

#welcomeContainer.slide-left {
  animation: slide-left 0.3s forwards;
}

#welcomeContainer.slide-right {
  animation: slide-right 0.3s forwards;
}
